

  .photo{
        font-size: 40px;
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
        
    }
    h1{
        color: antiquewhite;   
    }
    .WhichCity{
        font-family: 'Bai Jamjuree';
    }
    body, html{
        height: 100%;
      }
    .background{
        background-image: url("mount.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        height:100%;
    }
    
     
       
    table, th, td {
        border: 1px solid black;
    }
   
    .clearfix {
        overflow: auto;
        zoom: 1;
    }
.foreign{
    color:white;    
    font-family: 'Bai Jamjuree';
}
.Historic{
    font-family: 'Bai Jamjuree';
}
    .profile img{
        float:left;
       
        width:200px;
        height:200px;
        border:1px solid #021a40;
        margin:1em;
    }
.Barcelona img{
        float:left;
     
        margin-right:1em;
    }
  

.flex-container {
    display: flex;
    flex-direction:row;
  }
  @media(min-width:960px){
.one img{
   
    float:left;
    margin:1em;
}
.two img{
   
    float:left;
    margin: 1em;
}
.three img{
   
    float:left;
    margin:1em;
    
}
  }
.cont{
   margin:1em;
    padding:1em;
    color: antiquewhite;
    font-family: 'Bai Jamjuree';

}
.name{
    color: whitesmoke;
    float:left;
    font-size: 30px;
    font-family: 'Bai Jamjuree';
    margin: 1em;

}
.three{
    color:antiquewhite;
    font-family: 'Bai Jamjuree';
    float:left;
}
.one{
   color: antiquewhite;
   font-family: 'Bai Jamjuree';
   float: left;
}
.two{
    color:yellowgreen;
    font-family: 'Bai Jamjuree';
 
}
.Barcelona{
    color: #021a40
}

    .Historic{
     flex:1
    }
    .header{
        font-size: 30px;
        font-family: 'Bai Jamjuree';
        color: aliceblue

}
    @media(min-width:960px){
       .Historic{
           display: flex;
       }

    }
.landing{
    font-size: 30px;
    font-family: 'Bai Jamjuree' 
}
.Hlanding{
    color:white;
    font-family: 'Bai Jamjuree';
    font-size: 30px;
}


